{% extends "!layout.html" %}

{% block body %}

{% if build == "slides" %}
<div style="display: flex; justify-content: flex-start; align-items: center; height: 80vh; width: 95%;">
  <div id='rescaled-text' style="margin-left: 1vw; margin-right:1vw; width: 100%;">
    {{ body }}
  </div>
</div>
{% else %}
    {{ body }}
{% endif %}
{% endblock %}


{% block footer %}
    {{ super() }}  <!-- This keeps the original footer content -->
    <div class="custom-footer" style="display: flex; justify-content: flex-start; align-items: center; height: 10vh; margin-right:1vw; margin-left: 1vw;">
        <img src="'https://pl02.owen.prolitteris.ch/na/plzm.6b058f6c-02a2-46f4-a4ea-d3acead95664" height="1" width="1" border="0">
        <p><a href="{{ pathto('privacy_policy') }}">Privacy Policy</a></p>
    </div>
{% endblock footer %}
